services:
  db:
    image: postgres:16-alpine
    container_name: device-api-db
    networks:
      - device-network
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=device_db
      - POSTGRES_USER=device_user
      - POSTGRES_PASSWORD=device_verysecurepassword
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U device_user -d device_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: device-api-app
    networks:
      - device-network
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/device_db
      - SPRING_DATASOURCE_USERNAME=device_user
      - SPRING_DATASOURCE_PASSWORD=device_verysecurepassword
    depends_on:
      db:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    networks:
      - device-network
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    networks:
      - device-network
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus

networks:
  device-network:
    driver: bridge